- let siteName = 'EDteam'
- let pageTitle = 'este es el titulo por defecto'
- let currentPage= 'Home'
- let metaDescription = 'este sitio es muy chevere'
- 
   pages = [
       'index',
       'about-us'
   ] 