block config
    include config
include mixins
doctype
html
    head
        title= `${pageTitle} - ${siteName}`
        meta(name="name" content=metaDescription)
        block styles
            link(rel="stylesheet", href="css/styles.css", attr)
    body(class=`${currentPage.toLowerCase().split(' ').join('-')}`)
        h1 bienvenido
        block content
        footer
            block footer
        script. 
            console.log('hola mundo')