//- h1 hola amigos
//- h2 bien y tu
//- a(href="https://ed.team.com") ED team
doctype
head
    title mi primera pagina en EDteam
    meta(name="name" content="content")
    //- link(rel="stylesheet", href="path.css", attr)
    style.
        body {
            background: red;
        }
        span {
        background: yellow;
        }
body.main#front-page
    //-los parentesis son para añadir atributos
    h1(data-title="first") bienvenidos
    ul
        li 
            a(href="#") item 1
            ul
                li subitem 1
                li subitem 2
        //- sintaxis de dos puntos para evitar el salto de linea
        li: a(href="#") item 2
                ul
                    li subitem 3
        li item 3
        li item 4
    //-yo puedo poner etiquetas html o #[]
    p 
        |Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, <span>Bien o Que</span>looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. #[span entonces que mas] Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first  line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        //- el | indica que el texto no es una etiqueta html que es texto plano 
        |The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    //- script(src="js/script.js")
    //- para trabajar javascript adentro del documento html es asi:
    h2(style={color:"green", "font-size": "2em"}) hola como estas
    script.
        let algo = document.getElementById("front-page");
        algo.addEventListener("click", () => {
            alert("hola");
        })